/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem; /* Adjust padding for overall spacing */
  background-color: #fff;
  font-family: "League Spartan", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto; /* Pushes the navigation links further to the right */
}

.logo-image {
  max-width: 100%;
  height: auto; /* No fixed width or height to allow natural scaling */
}

.nav {
  display: flex;
  gap: 3rem; /* Increased space between each nav link */
  margin-left: 3rem; /* Increased space between logo and nav links */
}

.nav-link {
  color: rgb(44, 61, 78);
  text-decoration: none;
  font-size: 1rem;
}

.nav-link:hover {
  color: rgb(220, 175, 39);
}

.cta-button {
  background-color: rgb(220, 175, 39);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-left: 3rem; /* Adds space between last nav link and button */
}

.cta-button:hover {
  background-color: rgb(200, 160, 35);
}
